<!-- About section -->
      <div class="section scrollspy section-gray-section" id="about">
        <div class="container">

          <h5 class="center-align">About the Workshop</h5>

          <div class="row">
            <div class="col s12 m10 offset-m1 l8 offset-l2 section-gray-body">
              <p>This workshop explores how swarm robotics, robotic systems inspired by the collective behavior of social insects, can serve as a powerful experimental platform for investigating language emergence. Unlike purely symbolic or disembodied agent based simulations (e.g. bayesian agents, naming games…), swarm robotics provides a physically grounded, decentralized system in which communication, coordination, and emergent behavior can be studied dynamically in a complex real-life environment, in a task driven setup (foraging, navigating…). </p>
              <p>After a quick introduction and a live coding demonstration, participants will engage with a pre-prepared simulation environment (with documentation and starter code provided in advance). Participants be given the occasion (in groups or alone) to modify or even code from scratch in an accessible way your own robotic behavior and test your own experimental setup.</p>

              <p>In ordeer to make the best of the workshop, please pre-install ARGoS on your machine (compatible Linux, Mac and Windows, see **here-upcoming doc**), and read through the following tutorial (link). If you have any trouble with instalations, please contact us.</p>
              
              <p>Workshop materials (slides, simulated environments, code) will be made available on a dedicated GitHub repository accesible from this website, as well as insights from the participants during the workshops.</p>

             <div class="center-align" style="margin:20px; margin-top:50px"><b>Example of an experience run in Argos</b> </div> 
             <iframe style="display:block; margin:auto; margin-top:30px" class="center-align" width="560" height="315" src="https://www.youtube-nocookie.com/embed/rr8xkik9BGE?si=uHpUJe5tW5pypwc0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
             <div class="center-align"> Group of robots spread over three nest, playing minimal language game (main word of each robot is represented by the color of the disk surrounding them). 
             </div>
            </div>
          </div>


        </div>
      </div>
