<!-- About section -->
      <div class="section scrollspy section-gray-section" id="about">
        <div class="container">

          <h5 class="center-align">About SCR</h5>

          <div class="row">
            <div class="col s12 m10 offset-m1 l8 offset-l2 section-gray-body">
              <p>This workshop explores how swarm robotics, robotic systems inspired by the collective behavior of social insects, can serve as a powerful experimental platform for investigating language emergence. Unlike purely symbolic or disembodied agent based simulations (e.g. bayesian agents, naming games…), swarm robotics provides a physically grounded, decentralized system in which communication, coordination, and emergent behavior can be studied dynamically in a complex real-life environment, in a task driven setup (foraging, navigating…). </p>
              <p>After a quick introduction, and a live coding session, you'll be given the occasion (in groups or alone) to modify or even code from scratch in an accessible way your own robotic behavior and test your own experimental setup.</p>
                  
              <p><a href="{{site.registration-page}}">Register for the workshop!</a></p>
            </div>
          </div>


        </div>
      </div>
