<!-- About section -->
      <div class="section scrollspy section-gray-section" id="about">
        <div class="container">

          <h5 class="center-align">About the Workshop</h5>

          <div class="row">
            <div class="col s12 m10 offset-m1 l8 offset-l2 section-gray-body">
<p>Swarm robotics, inspired by the collective intelligence of social insects, offers a physically grounded platform for studying how language and communication can emerge from decentralized interactions. Unlike abstract or disembodied simulations, swarm robotics lets you design, test, and observe dynamic behaviors in a real-world-inspired environment, where robots must coordinate to solve tasks like foraging or navigation.</p>

<p>In this workshop, after a brief introduction to swarm dynamics and the ARGoS simulator, you’ll dive into a live coding demo where the organizer will code a simple swarm behavior about language emergence, guided by the suggestions of the participants.</p>

<p>Then, it’s your turn: In groups or solo, you will have access to a pre-prepared simulation environment (with documentation and starter code) to create your own robotic behaviors and test your experimental setups.</p>

<p>To make the most of the workshop, <b>please pre-install ARGoS on your machine</b> (compatible with Linux, Mac, and Windows) and review our optional starter tutorial. If you have any trouble with installations, please contact us. If you don't have an available machine, we can team you up with another person who has one.</p>

<p>All workshop materials (slides, simulated environments, code, and participant insights) will be available on a dedicated GitHub repository, so you can continue exploring after the session.</p>
                  
             <div class="center-align" style="margin:20px; margin-top:50px"><b>Example of an experience run in Argos</b> </div> 
             <iframe style="display:block; margin:auto; margin-top:30px" class="center-align" width="560" height="315" src="https://www.youtube-nocookie.com/embed/rr8xkik9BGE?si=uHpUJe5tW5pypwc0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
             <div class="center-align"> Group of robots spread over three nests, playing a minimal language game. Here, robots with different vocabularies are represented in different colors. As can be seen, robots converge on a shared language over time. 
             </div>
            </div>
          </div>


        </div>
      </div>
