<!-- Speakers section -->
      <div class="section scrollspy section-white-section" id="participants">
        <div class="container">
          <h4 class="center-align section-white-header">Registration</h4>

          <div class="row">
            <div class="col s12 m12 l12 section-white-body">
              <a href="{{site.registration-page}}" class="btn-large" style="font-weight:bold; background-color: {{site.color.primary-dark}}">Register Now</a>
              </p>
            </div>
          </div>

        </div>
      </div>
