<!-- Booths section -->
      <div class="section scrollspy section-white-section" id="sponsors">
        <div class="container">
          <h4 class="center-align section-white-header">Materials</h4>

          <div class="row">
            <div class="col s12 m12 l12 section-white-body">
              <p class="center"> Bellow are papers and tutorials you can (not must!) read and explore before the workshop.
              </p>
            </div>
          </div>
          <div class="row">
            <ul>
              <li><a href="https://www.frontiersin.org/journals/robotics-and-ai/articles/10.3389/frobt.2020.00012/full">Language evolution in swarm robotics: A perspective.</a> Cambier, N., Miletitch, R., Frémont, V., Dorigo, M., Ferrante, E., & Trianni, V. Frontiers in Robotics and AI, 7, 12. (2020).   </li>
              <li>Second item</li>
              <li><a href=""> Instalation tutorial for ARGoS (Linux, Mac, Windows).</a> Required if you plan to use your own laptop. Contact us if you run into trouble.</li>
              <li><a href="https://opentechschool-brussels.github.io/AI-for-robots-and-swarms/"> Tutorial on ARGoS and Lua.</a></li>
            </ul>      
          </div>
        </div>
      </div>

        
