<!-- Booths section -->
      <div class="section scrollspy section-white-section" id="sponsors">
        <div class="container">
          <h4 class="center-align section-white-header">Materials</h4>

          <div class="row">
            <div class="col s12 m12 l12 section-white-body">
              <p class="center">Bellow are optionals papers and tutorials you can read and explore before the workshop.</p>
              <p class="center">Only the instalation of ARGoS is required if you plan to use your own machine.</p>
            </div>
          </div>
          <div class="row">
            <ol type="1">
              <li><a href="https://www.frontiersin.org/journals/robotics-and-ai/articles/10.3389/frobt.2020.00012/full">Language evolution in swarm robotics: A perspective.</a> Cambier, N., Miletitch, R., Frémont, V., Dorigo, M., Ferrante, E., & Trianni, V. Frontiers in Robotics and AI, 7, 12. (2020).   </li>
              <li><a href="https://academic.oup.com/edited-volume/60324/chapter/521019222">Task-driven language evolution with swarm robotics</a> Cambier, N., Miletitch, R., The Oxford Handbook of Approaches to Language Evolution, Oxford Handbooks (2025).</li>
              <li><a href="https://opentechschool-brussels.github.io/AI-for-robots-and-swarms/ref_install.html"> Instalation tutorial for ARGoS (Linux, Mac, Windows).</a> Required if you plan to use your own laptop. Contact us if you run into trouble.</li>
              <li><a href="https://opentechschool-brussels.github.io/AI-for-robots-and-swarms/"> Tutorial on ARGoS and Lua.</a> Updated version coming in november.</li>
            </ol>      
          </div>
        </div>
      </div>

        
